<section class="conteiner">
  <header class="header d-flex">
    <h2 class="ff-inter">Contatos Cadastrados</h2>
    <button routerLink="/criarFormulario" class="botao">Adicionar novo cadastro</button>
  </header>
  <div class="contatos" *ngIf="listaFormularios.length > 0, else semFormularios">
    <div *ngFor="let formulario of listaFormularios">
      <app-formulario [formulario]="formulario"></app-formulario>
    </div>
  </div>
</section>
<ng-template #semFormularios>
    <div class="ff-inter sem-formularios">
      <p>Ainda não há contatos cadastrados!</p>
    </div>
</ng-template>
